<% if object.errors.any? %>
  <div id='error_explanation'>  
    <p>Oops. Please check the following <%= pluralize( object.errors.count, "field" ) %>:</p>  
    <% object.errors.full_messages.each do |msg| %> 
		<ul>
    <li><%= msg %></li> 
		</ul>
    <% end %>
  </div>  
<% end %>  
