    <%= render 'layouts/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Love Live Play</h1>
<br>
	<p>
          We are a group of passionate individuals leveraging powerful technology to provide sustainable rewards for gamers and game enthusiats, and greater engagement and feedback for brands. <br><br>
          Our vision of the future is a world where advertising will be enjoyable and relevant. And gaming will be as popular as pro-sports. <br>
          <br>
          Learn how you can be a part of the future.

          
<br><br>

        </p>
        <p><a class="btn primary large" href="/promotion">Advertisers/Brands &raquo;</a></p>
<p>         <a class="btn primary large" href="/caster/signup/overview">Players/Broadcasters &raquo;</a></p>
      </div>
	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
