    <%= render 'layouts/advertisersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
	<h1>Here is what we have</h1>
        <h2>We can associate your brand with Defining Moments in games.</h2>
	<p></p>
        <h2>Starcraft II</h2>
	<iframe width="560" height="315" src="http://www.youtube.com/embed/_2b2h2A4IpA" frameborder="0" allowfullscreen></iframe>
	<h2>Angry Birds</h2>
	<iframe width="420" height="315" src="http://www.youtube.com/embed/3DdCxjuFuyw?rel=0" frameborder="0" allowfullscreen></iframe>
	<h2>More Solutions</h2>
	<p></p>
        <p>We will work with you to find the best promotion solution for you. Your success is important to us.</p>

      </div>

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
