<<<<<<< HEAD
    <%= render 'layouts/castersignups/toolbar' %>
=======
    <%= render 'layouts/advertisersignups/toolbar' %>
>>>>>>> 3442aeb7322af232ccf0cdac03c16cfc50bfa3a0
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <h1>Thank you!</h1>
<<<<<<< HEAD
      <p>We hope you get in. We will keep our fingers cross!</p>
=======
      <p>We look forward to working with you!</p>
>>>>>>> 3442aeb7322af232ccf0cdac03c16cfc50bfa3a0
      </div>

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
