    <%= render 'layouts/advertisersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <h1>Thank you!</h1>
      <p>We look forward to working with you!</p>
      </div>

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
