<!-- footer -->
	<div id="footer">
		<div class="bg">
			<div class="container">
				<div class="indent">
					Copyright 2011 - Ingidio, All Rights Reserved<br />
				</div>	
			</div>
		</div>
	</div>
	<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
