<%= render "header" %>				
<div class="row-3">
					<h4>We are a passionate team of gamers and hackers aimed to change how advertising works in games and how rewards work in virtual life. </h4><br>
<h4>We are the Gamertisers.</h4>

					<!--<form action="" id="search-form">
						<fieldset><input type="text" class="text" value="" /><input type="submit" class="submit" value="" /></fieldset>
					</form>-->
				</div>
			</div>
		</div>
	</div>
<!-- content -->
	<div id="content"><div class="inner_copy"><div class="inner_copy"></div></div>
		<div class="container">
			<div class="wrapper">
				<!--<div class="aside maxheight">
					<div class="indent">
						<h2>Latest News</h2>
						<dl class="news">
							<dt><a href="#">February 15, 2010</a></dt>
							<dd>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</dd>
							<dt><a href="#">January 31, 2010</a></dt>
							<dd>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</dd>
							<dt><a href="#">January 22, 2010</a></dt>
							<dd>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugitd quia.</dd>
						</dl>
					</div>
				</div>-->
				<div class="mainContent maxheight" style="width: 100%">
					<div class="indent">
						<div class="section">
							<h2>About Us</h2>
<p>Much of gaming today is about Positive and Memorable Moments. The beating of the impossible bosses, the thrill of total victories... Using our "Moments®" solution, we wish for you to be a part of those positive moments. Leveraging powerful Algorithms and deep human Psychology, we want the happiness of games to work for your brand and Increase Your User Base and Revenue. <br><br> Be a Gamertiser®. <br><br>Be the Future. </p>
<br>
<h2>Contact Us</h2>
					
<table style="width:100%">

	<td>
		<tr>
		<h3>Emails</h3>
		<td>Corporate Inquiries</td>
		<td>info@ingidio.com</td>
		</tr>
		<tr>
		<td>Press Inquiries</td>
		<td>pr@ingidio.com</td>
		</tr>
		<tr>
		<td>Job Inquiries</td>
		<td>jobs@ingidio.com</td>
		</tr>
		<tr>
		<td>Customer Support</td>
		<td>suppport@ingidio.com</td>
		</tr>
		<tr>
		</tr>
		<tr>
		<td style="vertical-algin:top">
		<br>
		<br>
		<br>
		<h3>Address</h3>
		Ingidio Technologies <br>
		440 N. Wolfe Road <br>
		Sunnyvale, CA 94085 <br>
		</td>
		</tr>
	</td>
	<td style="width:25%">
	</td>
	<td>
	</td>
</table>			
			</div>
				<!--		<h2>The Team</h2>
						<ul class="img-list">
							<li>
								<img src="robot_images/img2.jpg" alt="" />
								<h3><a href="#">Team Member One</a></h3>
								He is supposed to be the most important member of your team. Usually this is the person who has started the website. Maybe it is worth to write why he made has such a decision.	
							</li>
							<li>
								<img src="robot_images/img3.jpg" alt="" />
								<h3><a href="#">Another Team Member</a></h3>
								We are completly lost on what he's responsible for, but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here.	
							</li>
							<li>
								<img src="robot_images/img4.jpg" alt="" />
								<h3><a href="#">Another Team Member</a></h3>
								We are completly lost on what he's responsible for, but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here.	
							</li>
						</ul>-->
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render "footer" %>
