	<%= render "header" %>			
	<div class="row-3">
					<!--<img src="robot_images/slogan.jpg" alt="" class="slogan" /><br>-->
<h4>We can show your brand to millions of gamers.</h4><br>
<h4>We can help monetize your games.</h4>
					<h4><br>We are the reward network that provides <font color="#9EDDFC">Virtual Achievements</font><font color="#FFA500"> Real Life Rewards</font>.</h4>
					<!--<form action="" id="search-form">
						<fieldset><input type="text" class="text" value="" /><input type="submit" class="submit" value="" /></fieldset>
					</form>-->
				</div>
			</div>
		</div>
	</div>
<!-- content -->
	<div id="content"><div class="inner_copy"><div class="inner_copy"></div></div>
		<div class="container">
			<div class="wrapper">
				<div class="aside maxheight">
					<div class="indent">
						<!--DEVELOPERS-->
						<h2>Developers</h2>
						<h4><font color="#3782B2">How Game Developers Win</font></h4>
						<br>
						<ul class="img-list">
							<li><h3>Monetization</h3>
								Our SDK is easy to integrate. Once you are up and running, our network will reward you for using our service.
							</li><br>
							<li><h3>Retention</h3>
								Reward your players with real life items at the moment of achievement. Keep them coming back for more.
							</li> <br>
							<!--<img src="robot_images/coins.png" alt="" />-->
							<a href="mailto:info@ingidio.com">Join our</a> network of game developers and reward your players today!<br>
							<br><br>
						</ul>
					</div>
				</div>
				<div class="mainContent maxheight">
					<div class="indent">
						<!--<div class="section">
							<h2>Welcome to Ingidio!</h2>
							<p>We are a reward network that brings real items to virtual achievements.</p>
						</div>-->
						<!--BRANDS-->
						<h2><font color="#FFA500">Brands and Agencies</font></h2>
						<h4><font color="#FFA500"> How Brands and Agencies Win</font></h4>

						<br>
						<ul class="img-list">
							<li>
								<!--<img src="robot_images/img1.jpg" alt="" />-->
								<h3><font color="#FFA500"> Coverage</font></h3>

								Reach millions of players (18-35 demographic) spending hundreds of millions of hours on desktop and console games. 	
							</li>
							<br>
							<li>
								<!--<img src="robot_images/img1.jpg" alt="" />-->
								<h3><font color="#FFA500"> Traffic</font></h3>

								Deliver value and positive image through our system based on user's demographic, locations, and spending power.
							</li><br>
							<li>
								<!--<img src="robot_images/img1.jpg" alt="" />-->
								<h3><font color="#FFA500"> Reward</font></h3>
								Fast deployment (seconds) with realtime campaign management and analytics. Our players will love your brand!
							</li><br>
						</ul>
							Interested? <a href="mailto:info@ingidio.com">Contact us</a>. We'd love to hear from you!<br>
<br>
<img src="http://i1143.photobucket.com/albums/n639/indigio/carlsjr.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<img src="http://i1143.photobucket.com/albums/n639/indigio/popchips.png" alt="" />&nbsp;&nbsp;&nbsp;&nbsp;

<img src="http://i1143.photobucket.com/albums/n639/indigio/1800flowers.png" alt="" />
<!--<img src="http://i1143.photobucket.com/albums/n639/indigio/drpepper.png" alt="" />-->
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render "footer" %>
