    <%= render 'layouts/castersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      <div class="message_box">
        <h1>Join Us!</h1>
	<p>Play game, make money, increase street cred.</p><br>
	<h2>Apply!</h2>
	<p>We review all applications on a case-by-case basis. Join our beta and get exclusive perks!</p>
	<p></p>
   <div id="splash">
     <div id="formwrap">
       <div id="myform">
         <%= render 'form' %>
      </div>
     </div>
   </div>

	</div>
</div>
	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
