    <%= render 'layouts/castersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>We Have a <font color= '#0175d1'>Challenge</font>, What are You Going to Say?</h1>
<br>
	<p>Gaming is an art and a sport. We here at Ingidio want the word to recognize that:</p>

<p>
<ul>
<li><p>You should be rewarded for being a good player.</p></li>
<li><p>Gaming should make you money.</p></li>
</ul>
</p>
<p>
	Join our community and making gaming a lifestyle. 

</p>
<br>
	
	<h2>Process</h2>
	<p>
	<ul>
  	<li><p>Step 1: Sign Up</p></li>
  	<li><p>Step 2: Play and Stream Your Game</p></li>
  	<li><p>Step 3: Profit</p></li>
	</ul>
	<br>
	</p>
	<p>
	Show us how good you are. What do you say?</p>
	<br>
        <h1>
          <a class="btn primary large" href="/caster/signup/apply">
            <h1>
             <font color='#fff'>Challenge Accepted!</font>
            </h1>
          </a>
        </h1>
	</p>
      </div>

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
