    <%= render 'layouts/castersignups/toolbar' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Make Money</h1>
	<p>You will get a share of the revenue generated from the video broadcasts and whatever we can think of. You just play your game and collect a check.</p><br>

	<h2>Beta Signups</h2>
	<p>We will have an exclusive rate for Beta Players. It's our way of saying thanks!</p>

	<h2>Scale</h2>
	<p>The more people that watch you play, the more money we will give you. It's that simple.</p>

	<h2>Commercial Breaks</h2>
	<p>You can choose certain commercials and when display them. You should be allowed to set your own breaks after all.</p>
      </div>

	<%= render 'layouts/footer' %>
    </div> <!-- /container -->
