      <footer class='footer'>
        <p><a href="/about">About</a> | <a href="/promotion">Advertisers</a> | <a href="/caster">GameCasters</a> | <a href="/partners">Partners</a> <br>   &copy; Ingidio 2011</p>
      </footer>
