    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Ingido</a>
          <ul class="nav">
            <li class="<%= @toolbar[:promotion] %>"><a href="/promotion">Promotion</a></li>
            <li class="<%= @toolbar[:player] %>"><a href="/player">Player</a></li>
            <li class="<%= @toolbar[:about] %>"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <form action="" class="pull-right">

            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

